@font-face {
    font-family: 'Quicksand';
    src: url('Quicksand-Regular.eot');
    src: local('Quicksand Regular'), local('Quicksand-Regular'),
        url('Quicksand-Regular.eot?#iefix') format('embedded-opentype'),
        url('Quicksand-Regular.woff2') format('woff2'),
        url('Quicksand-Regular.woff') format('woff'),
        url('Quicksand-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Quicksand';
    src: url('Quicksand-Bold.eot');
    src: local('Quicksand Bold'), local('Quicksand-Bold'),
        url('Quicksand-Bold.eot?#iefix') format('embedded-opentype'),
        url('Quicksand-Bold.woff2') format('woff2'),
        url('Quicksand-Bold.woff') format('woff'),
        url('Quicksand-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}