*{
    padding: 0;
    margin: 0;
    border: 0;
    }
    *,*:before,*::after{
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    :focus,:active{outline: none;}
    a:focus,a:active{outline: none;}
    
    nav,footer,header,aside{display: block;}
    
    html,body{
        height: 100%;
        width: 100%;
        font-size: 100%;
        line-height: 1;
        font-size: 14px;
        -ms-text-size-adjust: 100%;
        -moz-text-size-adjust: 100%;
        -webkit-text-size-adjust: 100%;
    }
    input,button,textarea{font-family: inherit;}
    
    input::-ms-clear{display: none;}
    button{cursor: pointer;}
    button::-moz-focus-inner{padding: 0; border: 0;}
    a,a:visited{text-decoration: none;}
    a:hover{text-decoration: none;}
    ul li{list-style: none;}
    img{vertical-align: top;}
    
    h1,h2,h3,h4,h5,h6{font-size: inherit; font-weight: 400;}

* {
    font-family: "Lato", sans-serif;
}

header {
    max-width: 1630px;
    margin: 0 auto; 
}

.header_nav .hamburger {
    display: none;
}

.container {
    max-width: 1600px;
    margin: 0 auto; 
}   

.head {
    height: 800px;
    background: url('../img/head-bg.jpg') center center/cover no-repeat;
    margin: 0 auto;
    padding: 35px 0 0 0;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 620px;
    margin: 0 auto;
}

.logo {
    background: url('../img/Logo.png') center center/cover no-repeat;
    width: 94px;
    height: 85px;
}

.menu .menu_item {
    height: 10px;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 2.6px;
}

.menu .menu_item a {
    color: #4d4959;
    text-transform: uppercase;
}

.subheader {
    max-width: 1630px;
    margin: 0 auto;
}

.container {
    max-width: 1600px;
}

.subheader_block {
    height: 469px;
    margin: 0 auto;
    padding: 117px 0 142px;
}

.subheader_logo img{
    display: block;
    margin: 0 auto 34px;
}

.title {
    height: 14px;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 3.6px;
    text-align: center;
    color: #353738;
}

.subheader_text {
    width: 1079px;
    font-size: 18px;
    line-height: 1.89;
    text-align: center;
    color: #848789;
    margin: 35px auto 0;
}

.vintage {
    max-width: 1630px;
    margin: 0 auto;
}

.vintage_block {
    display: flex;
    justify-content: right;
    max-width: 1600px;
    margin: 0 auto;
}

.vintage_left {
    background: url('../img/middle-vintage-bg.jpg') center center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 66.666%;
}

.vintage_right {
    width: 33.333%;
    max-height: 600px;
    display: flex;
    flex-direction: column;
}
.vintage_top {
    height: 100%;
}

.vintage_icon img {
    display: block;
    margin: 70px auto 0;
}

.vintage_title {
    text-transform: uppercase;
    margin: 31px 0 0 0; 
}

.vintage_text {
    margin: 26px 62px 0;
    font-size: 16px;
    line-height: 1.88;
    text-align: justify;
    color: #848789;
}

.line {
    width: 50px;
    height: 1px;
    background-color: #353738;
    margin: 40px auto 54px;
}

.vintage_seat img {
    width: 100%;
    max-height: 200px;
}

.boriosa {
    max-width: 1630px;
    max-height: 600px;
    margin: 0 auto;
}

.boriosa_block {
    height: 100%;
}

.boriosa_left {
    display: flex;
    flex-direction: column;
    width: 33.333%;
}

.bariosa_cont {
    display: flex;
}

.boriosa_icon img {
    display: block;
    margin: 61px auto 0;
}

.boriosa_title {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 3.6px;
    text-align: center;
    color: #353738;
    text-transform: uppercase;
    margin: 29px 0 0 0;
}

.boriosa_text {
    font-size: 16px;
    line-height: 1.88;
    text-align: justify;
    color: #848789;
    padding: 26px 62px 0;
}

.boriosa_seat img {
    width: 100%;
    max-height: 200px;
}

.boriosa_right {
    max-height: 600px;
    background: url('../img/middle-boriosa-bg.jpg') center center/cover no-repeat;
    width: 66.666%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.retro {
    max-width: 1630px;
    max-height: 600px;
    margin: 0 auto;
}

.retro_cont {
    display: flex;
}

.retro_left {
    background: url('../img/middle-retro-left.jpg') center center/cover no-repeat;
    max-height: 600px;
    width: 33.333%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.retro_middle {
    width: 33.333%;
    display: flex;
    flex-direction: column;
    max-height: 600px;
}

.retro_block {
    height: 100%;
}

.retro_icon img {
    display: block;
    margin: 58px auto 0;
}

.retro_title {
    margin: 20px 0 0 0;
    text-transform: uppercase;
}

.retro_text {
    font-size: 16px;
    line-height: 1.88;
    text-align: justify;
    color: #848789;
    padding: 26px 62px 0 62px;
}

.retro_line {
    margin-bottom: auto;
}

.retro_bottom {
    width: 100%;
    max-height: 200px;
}

.retro_bottom img {
    width: 100%;
}

.retro_right {
    width: 33.333%;
    max-height: 600px;
}

.retro_right img {
    width: 100%;
    height: 600px;
}

.social {
    max-width: 1630px;
    height: 469px;
    margin: 0 auto;
    padding: 124px 0 0 0;
}

.social_icon a img {
    display: block;
    margin: 0 auto;
}

.social_title {
    margin: 37px auto 0;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1.8px;
    text-align: center;
    color: #353738;
}

.social_title .social_time {
    font-weight: 300;
    color: #848789;
}

.social_text {
    margin: 27px auto 0;
    max-width: 1036px;
    font-family: Lato;
    font-size: 24px;
    font-style: italic;
    line-height: 1.42;
    text-align: center;
    color: #848789;
}

.social_item {
    display: flex;
    justify-content: center;
    margin: 104px auto 0;
}

.social_dot {
    width: 11px;
    height: 11px;
    margin: 0 9px;
    border: solid 1px #282f35;
    background: #f7f7f7;
    border-radius: 100%;
}

.social_dot:nth-child(1) {
    background: #282f35;
}

.bottom {
    max-width: 1630px;
    max-height: 534px;
    margin: 0 auto;
}

.bottom_block {
    display: flex;
}

.bottom_left {
    display: flex;
    flex-direction: column;
    width: 33.333%;
 }

 .bottom_top {
    display: flex;
 }

.bottom_topleft {
    max-height: 267px;
    width: 50%;
 }

.bottom_topright {
    max-height: 267px;
    width: 50%;
 }

.bottom_down {
    max-height: 267px;
    width: 100%;
}

.bottom_middle {
    display: flex;
    width: 33.333%;
}

.bottom_middle_left {
    max-height: 534px;
    width: 50%;
}

.bottom_middle_right {
    max-height: 534px;
    width: 50%;
}

.bottom_right {
    width: 33.333%;
}

.bottom_right_top {
    width: 100%;
}

.bottom_right_top {
    background: url('../img/bottom-right-top.jpg') center center/cover no-repeat;
    max-height: 267px;
    width: 100%;
}

.bottom_img {
    background: rgba(100,194,158,0.7);
    height: 267px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom_right_block {
    display: flex;
    width: 100%;
}

.bottom_right1 {
    width: 50%;
    max-height: 267px;
}

.bottom_right1 img {
    width: 100%;
    height: 267px;
}

.bottom_right2 {
    width: 50%;
    max-height: 267px;
}

.bottom_right2 img {
    width: 100%;
    height: 267px;
}

.bottom_button {
    max-width: 1630px;
    height: 200px;
    margin: 0 auto;
}

.botton_button_container {
    background: #282f35;
    max-width: 1600px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom_discover {
    width: 300px;
    height: 50px;
    border: solid 1px rgba(255, 255, 255, 0.5);
    background: #000;
}

.bottom_discover a {
    color: #fff;
    width: 300px;
    height: 50px;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 2.8px;
    text-align: center;
    color: #fff;
}

.mail {
    max-width: 1630px;
    height: 469px;
    margin: 0 auto;
}

.mail_block {
    padding: 109px 0 0 0;
}

.mail_logo img {
    display: block;
    margin: 0 auto;
}

.mail_title {
    margin: 39px auto 35px;
    font-size: 24px;
    font-style: italic;
    line-height: 1.42;
    text-align: center;
    color: #848789;
}

.mail_field {
    display: flex;
    justify-content: center;
}

.mail_input {
    width: 400px;
    height: 69px;
    border: 1px solid #d3d7d9;
}

.mail_input::placeholder {
    font-size: 20px;
    font-style: italic;
    line-height: 1.2;
    color: #929292;
    padding: 0 0 0 28px;
}

.mail_button {
    margin: 0 0 0 8px;
    height: 69px;
    width: 126px;
    background: #64c29e;
    font-size: 24px;
    font-weight: 300;
    text-align: center;
    color: #fff;
}

footer {
    max-width: 1630px;
    margin: 0 auto;
}

.footer_color {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #f7f7f7;
    min-height: 250px;
}

.footer_title {
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
}

.footer_address, .footer_mail {
    font-size: 14px;
    font-style: italic;
    line-height: 1.29;
    text-align: left;
    color: #848789;
}

.footer_social {
    width: 250px;
}

.social_link {
    background: url('../img/preview.jpg') no-repeat;
    width: 35px;
    height: 35px;
    border: 1px solid #fff;
    border-radius: 100%;
    display: inline-block;
    margin: 0 15px 0 0;
}

.footer_link_1 {
    background-position: -156px -109px;
}
.footer_link_2 {
    background-position: -13px -13px;
}
.footer_link_3 {
    background-position: -204px -59px;
}

.footer_yebo {
    display: flex;
    align-items: center;
}

.footer_yebo_title {
    font-size: 14px;
    font-style: italic;
    line-height: 1.29;
    text-align: right;
    color: #848789;
}
.footer_img {
    margin: 0 0 0 9px;
}

@media (max-width: 1599px) {
    .vintage_text {
        margin: 26px 50px 0;
        line-height: 1.6;
    }
    .boriosa_text {
        padding: 26px 50px 0;
        line-height: 1.6;
    }
    .retro_text {
        padding: 26px 50px 0;
        line-height: 1.6;
    }
}

@media (max-width: 1199px) {
    .subheader_text{
        width: 90%;
    }
    .social_text {
        width: 90%;
    }
}

@media (max-width: 991px) {
    .head {
        height: 600px;
    }
    .menu {
        max-width: 560px;
    }
    .menu .menu_item {
        font-size: 12px;
    }
    .logo {
        width: 63px;
        height: 57px;
    }
    .subheader_block {
        max-height: 400px;
        margin: 0 auto;
        padding: 80px 0 90px;
    }
    .subheader_title {
        font-size: 16px;
    }
    .subheader_text {
        font-size: 16px;
    }
    .vintage_title {
        margin: 25px 0 0 0;
        font-size: 15px;
    }
    .vintage_text {
        margin: 20px 30px 0;
        line-height: 1.4;
        font-size: 15px;
    }
    .boriosa_title {
        margin: 25px 0 0 0;
        font-size: 15px;
    }
    .boriosa_text {
        padding: 20px 30px 0;
        line-height: 1.4;
        font-size: 15px;
    }
    .retro_title {
        margin: 25px 0 0 0;
        font-size: 15px;
        letter-spacing: 2.9px;
    }
    .retro_text {
        padding: 20px 30px 0;
        line-height: 1.4;
        font-size: 15px;
    }
    .social {
        padding: 90px;
    }
    .social_title {
        font-size: 16px;
    }
    .social_text {
        font-size: 20px;
    }
    .social_item {
        margin: 80px auto 0;
    }
}
@media (max-width: 767px) {

    .menu {
        position: fixed;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        top: 0;
        left: -100%;
        width: 50%;
        height: 100vh;
        padding: 15px 20px;
        background-color: rgba(0, 0, 0, 0.8);
        -webkit-transition: 0.6s all;
        transition: 0.6s all; 
    }
    .menu_active {
        left: 0; 
    }
    .menu_item {
        padding-right: 0;
        border: none;
        margin: 25px 0; 
    }
    .menu_link {
        font-size: 20px; 
    }
    .header_nav .hamburger {
        display: block;
        position: fixed;
        right: 16px;
        top: 5%;
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
        width: 26px;
        height: 20px; 
    }
    .header_nav .hamburger span {
        display: block;
        height: 2px;
        width: 100%;
        background: #000;
        margin: 0 0 5px 0;
        -webkit-transition: 0.5s all;
        transition: 0.5s all; 
    }
    .header_nav .hamburger_active span {
        margin: 0 0 -2px 0; 
    }
    .header_nav .hamburger_active span:nth-last-child(1) {
        -webkit-transform: translateX(3px) rotate(-45deg);
                transform: translateX(3px) rotate(-45deg); 
            }
    .header_nav .hamburger_active span:nth-last-child(2) {
        display: none; 
    }
    .header_nav .hamburger_active span:nth-last-child(3) {
        -webkit-transform: translateX(3px) rotate(45deg);
                transform: translateX(3px) rotate(45deg); 
    }
    .menu .menu_item a {
        font-size: 16px;
        color: #929292;
    }
    .menu .logo {
        margin: 25px auto;
    }
    .subheader_block {
        padding: 60px 0;
    }
    .vintage {
        margin-top: 30px;
    }
    .vintage_block {
        flex-direction: column; 
    }
    .vintage_left {
        width: 100%;
        height: 500px;
    }
    .vintage_right {
        width: 100%;
        max-height: 500px;
    }
    .boriosa {
        max-height: none;
    }
    .bariosa_cont {
        flex-direction: column;
        margin-top: 50px; 
    }
    .boriosa_left {
        width: 100%;
        max-height: 500px;
    }
    .boriosa_right {
        width: 100%;
        height: 500px;
    }
    .retro {
        max-height: none;
    }
    .retro_cont {
        flex-direction: column;
    }
    .retro_left {
        width: 100%;
        height: 500px;
    }
    .retro_middle {
        width: 100%;
        height: 100%;
    }
    .retro_line {
        margin-bottom: 40px;
    }
    .retro_right {
        width: 100%;
    }
    .social {
        max-height: none;
    }
    .social_text {
        font-size: 16px;
    }
    .bottom {
        max-height: none;
    }
    .bottom img {
        width: 100%;
    }
    .bottom_block {
        flex-direction: column;
    }
    .bottom_left {
        width: 100%;
    }
    .bottom_middle {
        width: 100%;
    }
    .bottom_right {
        width: 100%;
    }
    .bottom_discover {
        width: 200px;
        height: 40px;
    }
    .bottom_discover a {
        width: 200px;
        height: 40px;
        font-size: 14px;
        letter-spacing: 2.0px;
    }
    .mail {
        height: 420px;
    }
    .mail_title {
        font-size: 22px;
    }
    .mail_input {
        width: 300px;
        height: 50px;
    }
    .mail_input::placeholder {
        font-size: 18px;
    }
    .mail_button {
        width: 100px;
        height: 50px;
    }
    .footer_color {
        min-height: 360px;
        flex-direction: column;
    }
    .footer_color > div:nth-child(2) {
        order: 1;
    }
    .footer_color > div:nth-child(1) {
        order: 2;
    }
    .footer_color > div:nth-child(3) {
        order: 3;
    }
    .footer_social {
        display: flex;
        justify-content: center;
    }
    .footer_social a{
       width: 35px;
    }
    .footer_social a:nth-child(2) {
        margin: 0 10px;
    }
    .footer_text {
        text-align: center;
    }
    .footer_address {
        text-align: center;
    }

}

@media (max-width: 575px) {
    .head {
        height: 500px;
    }
    .menu {
        width: 75%;
    }
    .subheader_block {
        padding: 40px 0;
    }
    .subheader_logo img {
        height: 33px;
        width: 42px;
    }
    .subheader_title {
        font-size: 14px;
    }
    .subheader_text {
        font-size: 13px;
    }
    .vintage_logo img {
        width: 80px;
        height: 83px;
    }
    .vintage_left {
        background: url('../img/middle-vintage-bg.jpg') 32%/cover no-repeat;
    }
    .vintage_logo img {
        width: 60px;
        height: 62px;
    }
    .boriosa_logo img{
        width: 100px;
        height: 90px;
    }
    .retro_logo img {
        width: 140px;
        height: 42px;
    }
    .social {
        padding: 60px 30px;
    }
    .bottom_right1 img {
        height: 100%;
    }
    .bottom_right2 img {
        height: 100%;
    }
}

