html, body {
    font-family: rubik;
    font-size: 16px;
    font-weight: 400;
    scroll-behavior: smooth;
    color: var(--color-text-main);
}

body {
    position: relative;
} 

li {
   list-style-type: none;
}

a {
    text-decoration: none;
    color:var(--color-text-main);
}

button {
    background-color: transparent;
}

button:hover {
    transform: translateY(-1px);
}

button:active {
    transform: translateY(1px);
}

.container {
    margin: 0 auto;
    width: 1440px;
    padding: 0 124px;
}

.top {
    width: 100%;
    height: 1px;
}

.title {
    font-family: lato;
    font-size: 32px;
    font-weight: 900;
    line-height: 38px;
}

.divider {
    width: 100%;
    height: 1px;
    background-color: #D6DDEB;
}

.bg_lines {
    position: absolute;
    border: 6px solid #dad9f8;
    background-color: transparent;
    transform: skewY(-25deg);
    width: 500px;
    height: 500px;
    z-index: -1;
}

