.panel {
    padding: 24px 30px 0 44px; 
    height: 122px;
    width: 100%;
    display: flex;
    gap: 20px;
}

.item {
    padding: 15px 35px;
    flex-grow: 1;
    background-color: var(--foreground);
    font-family: var(--sansDM);
    font-weight: 500;
    border-radius: 20px;
}

.item h3 {
    font-size: 24px;
    line-height: 32px;
}

.item h2 {
    font-weight: 700;
    font-size: 32px;
    line-height: 36px;
}