@media (max-width:991px){
    body{
        display: flex;
        justify-content: space-around;
    }
    .flex_1{
        display: flex;
        flex-direction: column;
    }
    .flex_2{
        display: flex;
        flex-direction: column;
    }
}
@media (max-width:540px){
    body{
        display: block;
    }
   .flex_1{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0px auto 0;
   }
   .flex_2{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px auto;
}
    
}
