body{
   font-family: Arial, Helvetica, sans-serif;
   margin: 0;
   padding: 0;
}
.container {
   background: black;
   padding: 0 80px;
 }
 header .top{
   align-items: center;
   background: linear-gradient(#3c640b, #69a514);
   display: flex;
   justify-content: space-between;
   padding: 15px;
 }
.logo {
   align-items: center;
   display: flex;
 }
 .logo img{
   margin-right: 10px;
 }
 .logo p{
   margin: 0;
 }
 .logo p:first-child{
   color: white;
   font-size: 25px;
   text-transform: uppercase;
 }
 .logo p span:first-child{
   font-weight: bold;
 }
 .logo p span:last-child{
   color: #cdf658;
 }
 .logo p:last-child{
   color: white;
   font-size: 12px;
   text-transform: uppercase;
 }
 header .top form input{
   border-color: #dcdcdc;
   border-width: 1px;
   border-radius: 5px;
   padding: 5px;
   outline: none;
 }
 header .top form button{
   background: linear-gradient(#966903,#dbbb04);
   border: 1px solid #dbbb04;
   border-radius: 5px;
   color: white;
   padding: 5px;
 }
.banner {
   background: url("../images/banner.jpg") no-repeat center center/cover; 
   box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.7);
   display: flex;
   justify-content: center;
   align-items: center;
   height: 20vw;
 }
 .banner div{
   font-family: 'Caveat', cursive;
   margin-left: 60px;
 }
 .banner div p{
   color: #fff;
   margin: 10px 0;
   text-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
   text-transform: uppercase;
 }
 .banner div p:first-child{
   font-size: 40px;
 }
 .banner div p:last-child{
   font-weight: bold;
   font-size: 50px;
   text-indent: 20px;
 }
 .banner div p:last-child span{
   color: #b2fd04;
 }
 header nav{
   background: linear-gradient(#416b06, #73ad18 80%, #416b06);
   padding: 10px 0 4px 0;
 }
 header nav ul{
   border-bottom: 1px solid #92c141;
   display: flex;
   justify-content: center;
   margin: 0;
 }
 header nav ul li{
   border-left: 1px solid #6ea12b;
   border-radius: 0 0 10px 10px;
   border-right: 1px solid #3f7003;
   flex-basis: 100%;
   list-style-type: none;
   padding: 10px 0;
   text-align: center;
 }
 header nav ul li:first-child{
   border-left: none;
 }
 header nav ul li:last-child{
   border-right: none;
 }
 header nav ul li a{
   color: #fff;
   text-decoration: none;
   text-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
   text-transform: uppercase;
 }
 .bottom_side{
  background: linear-gradient(#626840, #596459);
  padding: 15px;
 }
 .content{
   display: flex;
   justify-content: space-between;
 }
 .content_left{
  flex-basis: 30%;
 }
 .content_left section{
  background: linear-gradient(#d7e0d3, #d6e1d2);
  padding: 4px;
 }
.content_left article{
  align-items: center;
  display: flex;
  margin: 10px auto;
  width: 90%;
  padding: 15px 10px;
  border-bottom: 2px groove #fff;
}
.content_left article img{
  border: #949788;
  margin-right: 10px;
}
.content_left article p{
  margin: 0;
}
.content_left article p{
  color: #b68d02;
  font-weight: bold;
}
 .content_left section h3 {
  background: #4e7d0e;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
  padding: 10px 20px;
  margin: 0;
 }
.content_left .bottom{
  background: url("../images/mini-banner.png") no-repeat right 5%, linear-gradient(to bottom right, #bbdb8d, #fff);
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  padding: 35px 0;
}
.content_left .bottom .left p{
  color: #333333;
  font-weight: bold;
  margin: 0;
  text-transform: uppercase;
}
.content_left .bottom .left p:last-child{
  margin-left: 25px;
}
.content_left .bottom .left span{
  color: #4c790d;
  font-size: 20px;
}
.content_left .bottom .right p{
  color: #fff;
  font-size: 45px;
  font-weight: bold;
  margin: 0;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.7);
}
.content_right{
  display: flex;
  flex-basis: 69%;
  flex-direction: column;
  justify-content: space-between;
}
.content_right .top{
  background: linear-gradient(#71ae19, #598715);
  box-sizing: border-box;
  flex-basis: 31%;
  padding: 15px;
  position: relative;
}
 .content_right .top h2{
  color: #fff;
  font-size: 20px;
  margin: 5px 0;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}
.content_right .top p{
  color: #fff;
  line-height: 25px;
}
.content_right .top a{
  color: #c8d427;
  bottom: 10px;
  font-weight: bold;
  position: absolute;
  right: 20px;
  text-decoration: none;
}
.content_right .top a:before{
  content: "\0003E";
  background: #a49c00;
  border: 2px solid #c8d427;
  margin-right: 4px;
  padding: 0 3px;  
}
.content_right .bottom{
  background: linear-gradient(#d7e0d3, #d6e1d2);
  box-sizing: border-box;
  flex-basis: 67%;
  margin-top: 10px;
  padding: 10px;
  position: relative;
}
.content_right .bottom h2{
  background: #4a7808;
  color: #fff;
  font-size: 18px;
  margin: 0;
  padding: 10px 10px 8px;
  text-transform: uppercase; 
}
.content_right .bottom .news{
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}
.content-right .bottom .news img{
  border: 2px solid #9baba8;
}
.content_right .bottom .news .description{
  flex-basis: 70%;
}
.content_right .bottom .news_links a{
  display: block;
  color: #4b7c0c;
  margin: 5px 0;
  text-decoration: none;
}
.content_right .bottom .news_links{
  margin: 40px auto 0;
  width: 80%;
}
.content_right .bottom .news_links a:hover{
  text-decoration: underline;
}
.news_links a:before{
  content: "\00BB";
  margin-right: 10px;
}
.content_right .bottom > a{
  color: #000;
  font-weight: bold;
  position: absolute;
  text-decoration: none;
  right: 20px;
  bottom: 20px;
}
.content_right .bottom > a:before{
  background: #77aa27;
  border: 2px solid #50721d;
  content: "\003E";
  margin-right: 10px;
  padding: 0 3px;
}
footer{
  margin-top: 15px;
}
footer ul{
  background: linear-gradient(#629a13, #558a22);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 15px 0;
}
footer ul li{
  border-right: 1px solid #d1fb4a;
  list-style-type: none;
  padding: 0 20px;
}
footer ul li:last-child{
  border-right: none;
}
footer ul li a{
  color:#d1fb4a;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
}
footer ul li a:hover{
  text-decoration: underline;
}
footer p{
  color: #fff;
  margin: 20px 0 0 0;
  text-align: center;
}
footer p a{
  color: #d1fb4a;
  text-decoration: none;
}
footer p a:hover{
  text-decoration: underline;
}