@font-face {
  font-family: rub;
  src: url('../assets/fonts/Rubik-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: rub;
  src: url('../assets/fonts/Rubik-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: rub;
  src: url('../assets/fonts/Rubik-SemiBold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: rub;
  src: url('../assets/fonts/Rubik-Bold.ttf');
  font-weight: 700;
}

:root {
    --color-black: #000000;
    --color-white: #FFFFFF;
    --color-gray: #A8A8A8;
    --color-gray-text: #ABABAB;
    --color-gray-bg: #F2F2F2;
    --color-gray-d: #7E7C7C;
    --color-red: #FF6161;
    --color-orange: #FD6D20;
    --color-green: #6CC471;
    --color-green-l: #7CFF4C;
    --gr-orange: linear-gradient(to right, #FF7E2D, #F64200);
}

* {
    font-family: rub;
    font-size: 500;
}

body {
    position: relative;
}

.user_triangle {
    border-style: solid;
    border-width: 6px 3px 0px 3px;
    border-color: black transparent transparent transparent;
}

.menu_item.active {
    background-image: var(--gr-orange);
    border-radius: 26px;
    color: var(--color-white);
}

.menu_item.active svg path {
    fill: var(--color-white);
}

[data-link].active {
    border: 1px solid var(--color-gray-d);
    border-radius: 26px;
}

.transfers_block {
    display: grid;
    grid-template-columns: 57px 142px 129px 192px 191px 174px 186px;
} 

[data-time].active {
    padding: 6px;
    color: var(--color-black);
    background-color: var(--color-gray-bg);
    border-radius: 12px;
}

