@font-face {
    font-family: int;
    src: url("../assets/fonts/Inter_24pt-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: int;
    src: url("../assets/fonts/Inter_24pt-Medium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: int;
    src: url("../assets/fonts/Inter_24pt-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: int;
    src: url("../assets/fonts/Inter_24pt-ExtraBold.ttf");
    font-weight: 800;
}

