.top-line {
  border-bottom: #28292E 2px solid;
}

.top-line__content  {
  height: var(--top-line-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 110px;
  height: 12px;
  background-image: url("../assets/logo.svg");
}

.main-menu {
  display: flex;
  align-items: center;
}

.main-menu ul,
.main-menu li {
  margin: 0;
  padding: 0;
  list-style-type: none;
  padding-right: 5px;
  background-color: var(--body-bg);
}

.main-menu ul {
  padding-right: 0; 
  visibility: hidden;
  opacity: 0;
  transform: translateX(10px);
  transition: opacity .3s ease, transform .3s ease, visibility .3s ease;
  z-index: 1;
}
.main-menu ul.active {
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
}

.main-menu li {
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: .8px;
}

.main-menu a {
  display: block;
  padding: 5px 30px;
  text-decoration: none;
  color: #7A7B7F;
  transition: color .3s ease;
}

.main-menu a:hover {
  color: var(--active-color);
}

.main-menu li.active a {
  color: var(--active-color);
}

.menu-btn {
  padding: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-right: -10px;
}

.menu-btn * {
  width: 17px;
  height: 2px;
  background-color: var(--menu-btn-color);
}

.menu-btn.active {
  align-items: end;
}

.menu-btn *:first-child {
  width: 13px;
}

.menu-btn *:nth-child(2) {
  width: 11px;
}

.menu-btn.active {
  align-items: end;
}

.toggler {
  position: relative;
  right: 16px;
}

[class^="icon-font-"] {  /* (группа классов, начало названия) */
  font-style: normal;
  font-family: icon-font;  /* (иконочный стиль - svg преобразованы в стиль через сервис fontello, подключены в шрифтах) */
  cursor: pointer;
  color: var(--menu-btn-color);
}

.icon-font-light::before {
  content: "\E801";  /* (подключаем иконку из иконочных стилей) */
}

.head-wrapper {
  padding: var(--slider-padding) 0;
}

.head-slider__style {
  font-size: 1.75rem;
  font-weight: 600;
  margin-bottom: 8px;
}

.head-slider__header {
  font-size: 77px;
  font-weight: 300;
  line-height: 5.125rem;
  letter-spacing: 3.75px;
  margin-left: -6px;
}

.head-slider__left {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 55px;
  margin-top: -25px;
  z-index: 2;
  position: relative;
  pointer-events: none;
}

.head-slider__more a {
  color: var(--accent);
  display: inline-block;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1.5px;
  margin-top: 15px;
  padding-left: 56px;
  pointer-events: all;
}

.head-slider__more a::before {
  content: "";
  width: 36px;
  height: 2px;
  display: block;
  background-color: var(--accent);
  left: -36px;
  position: relative;
  margin-left: -20px;
  top: 16px;
  pointer-events: none;
}

.head-slider__more a:hover {
  text-decoration: underline;
}

.head-slider {
  height: calc(100vh - var(--top-line-height) - var(--slider-bottom-height) - calc(var(--slider-padding) * 2) - 2px);
  min-height: 400px;
}

.head-slider .swiper-slide {
  transition: transform 1s ease, opacity 1s ease;
  opacity: .8;
  transform: scale(.87);
}

.head-slider .swiper-slide-active + * { /* (любой следующий) */
  transform: scale(1);
  opacity: 1;
}

.head-slider__image {
  height: 100%;
  cursor: pointer;
}

.head-slider__image img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.slider-bottom {
  position: relative;
  height: var(--slider-bottom-height);
}

.slider-bottom .swiper-pagination {
  width: auto;
}

.slider-bottom .swiper-pagination-bullets .swiper-pagination-bullet {
  background-color: #58585C;
  opacity: 1;
  border-radius: 0;
  width: 8px;
  height: 8px;
  margin: 0 9px;
  transition: transform .25s ease, background-color .25s ease;
}

.slider-bottom .swiper-pagination-bullets .swiper-pagination-bullet-active {
  transform: scale(1.5);
  background-color: var(--accent);
}

.slider-bottom .swiper-button-next {
  width: auto;
  bottom: 14px;
  right: 0;
  top: auto;
  color: #58585C;
}

.slider-bottom .swiper-button-next .slider-bottom__count {
  font-weight: 500;
  display: flex;
  align-items: center;
}

.slider-bottom__count .line {
  width: 36px;
  height: 1px;
  background-color: #58585C;
  margin-left: 15px;
  margin-right: 18px; 
  position: relative;
  top: 1px;
}

.slider-bottom .swiper-button-next:after {
  color: var(--accent);
  font-weight: 600;
  position: relative;
  top: 1px;
}