html, body {
    font-family: gil;
    font-size: 16px;
    font-weight: 500;
    scroll-behavior: smooth;
    color: var(--color-black);
    background-color: var(--color-bg);
}

body {
    position: relative;
} 

.container {
    width: 1440px;
    margin: 0 auto;
    padding: 0 100px;
}

.btn {
    width: fit-content;
    font-weight: 700;
    color: var(--color-white);
    background-color: var(--color-violet);
    border-radius: 10px;
    & a {
        display: block;
        width: 100%;
        height: 100%;
        padding: 18px 60px;
        color: var(--color-white);
    }
}

.title {
    line-height: 60px;
    font-size: 50px;
    font-weight: 700;
}

.description {
    line-height: 1.4;
    font-size: 20px;
}