@font-face {
    font-family: gil;
    src: url("../assets/fonts/Gilroy-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: gil;
    src: url("../assets/fonts/Gilroy-Medium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: gil;
    src: url("../assets/fonts/Gilroy-SemiBold.ttf");
    font-weight: 600;
}

@font-face {
    font-family: gil;
    src: url("../assets/fonts/Gilroy-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: lato;
    src: url("../assets/fonts/Gilroy-ExtraBold.ttf");
    font-weight: 800;
}

@font-face {
    font-family: gil;
    src: url("../assets/fonts/Gilroy-Black.ttf");
    font-weight: 900;
}


