.footer {
    &, & a {
        transition: all .3s ease;
        color: rgba(255, 255, 255, .9);
    }
    & a:hover {
        color: var(--color-violet);
    }
    &_container {
        padding: 44px 100px 0;
    }
    &_top {
        padding-bottom: 42px;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid rgba(255, 255, 255, .1);
        & a {
            font-size: 13px;
            font-weight: 400;
            line-height: 28px;
        }
        & address {
            font-size: 13px;
            font-weight: 400;
            line-height: 1.3;
        }
    }
    &_left {
        & address {
            margin-top: 22px;
            font-size: 12px;
            font-weight: 400;
            line-height: 16px;
        }
    }
    &_logo {
        align-items: flex-start;
    }
    &_social {
        margin-top: 20px;
        display: flex;
        align-items: center;
        gap: 20px;
        & a svg {
            transition: all .3s ease;
            &:hover {
                transform: scale(1.2);
                & path {
                    fill: var(--color-violet);
                }
            }
        }
    }
    &_title {
        margin-bottom: 20px;
        font-size: 18px;
        font-weight: 700;
        line-height: 24px;
    }

    &_bottom {
        padding: 30px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        & h4, & a {
            font-size: 12px;
            font-weight: 400;
        }
    }
    &_navigation ul {
        display: flex;
        gap: 27px;
    }
}