.format {
    background-color: var(--color-white);
    &_container {
        width: 100%;
        padding: 60px 0 122px;
        margin: 0 auto;
        overflow-x: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;
        scroll-behavior: smooth;
        user-select: none;
    }
    &_wrapper {
        width: fit-content;
        margin: 0 auto;
    }    
    &_grid {
        &__top {
            width: fit-content;
            margin: 0 auto;
            display: flex;
            align-items: flex-end;
            justify-content: center;
        }
       
        &__bonus {
            padding: 8px 10px;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: var(--color-blue);
            border-radius: 14px;
            & h4 {
                font-size: 14px;
                font-weight: 700;
                text-transform: uppercase;
            }
        }
        &__title {
            align-self: center;
            font-size: 46px;
            font-weight: 400;
            line-height: 1.2;
            & span {
                font-weight: 800;
            }
        }
        &__plan {
            position: relative;
            background-color: var(--color-bg-grid);
            border-radius: 24px 24px 0 0;
            & h3 {
                margin: 51px auto 0;
                width: fit-content;
                font-size: 28px;
                font-weight: 700;
            } 
            & h5 {
                margin: 32px auto 12px;
                max-width: 90px;
                font-size: 10px;
                line-height: 1.2;
                font-weight: 600;
                text-align: center;
            }
        }
        &__best {
            display: none;
        }
        &__row {
            margin: 0 auto;
            width: fit-content;
            display: flex;
            align-items: stretch;
            justify-content: center;
            &:nth-child(even) {
                background-color: var(--color-bg-grid);
            }
        }
        &__description {
            padding: 15px;
            display: flex;
            gap: 8px;
            align-items: center;
            align-self: stretch;
            & h4 {
                font-size: 16px;
                font-weight: 500;
            }
        }
        &__info {
            display: flex;
            align-items: center;
            position: relative;
            cursor: pointer;
            &:hover .format_grid__hint {
                opacity: 1;
            }
        }
        &__hint {
            padding: 15px;
            width: max-content;
            max-width: 425px;
            position: absolute;
            top: calc(100% + 11px);;
            left: -110px;
            background-color: #E8DDF3;
            border-radius: 16px;
            box-shadow: -3px 3px 6px rgba(0, 0, 0, .2);
            opacity: 0;
            pointer-events: none;
            transition: opacity .3s ease;
            z-index: 3;
                & ul {
                    & li {
                        margin-left: 15px;
                        font-size: 14px;
                        font-weight: 500;
                        line-height: 17px;
                        list-style: disc;
                    }
                }
            &-top {
                width: 22px;
                height: 11px;
                position: absolute;
                top: -11px;
                left: 105px;
                border-bottom: 11px solid #E8DDF3;
                border-right: 11px solid rgba(0, 0, 0, 0);
                border-left: 11px solid rgba(0, 0, 0, 0);
            }
        }
        &__cage {
            align-self: stretch;
            padding: 15px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            font-size: 16px;
            font-weight: 600;
            &-orange {
                & svg path {
                    fill: var(--color-orange-dark);
                }
            }
            &-violet {
                & svg path {
                    fill: var(--color-violet);
                }
            }
            &-blue {
                & svg path {
                    fill: var(--color-blue);
                }
            }
        }
        &__orange {
            & .format_grid__bonus {
                background-color: var(--color-orange-dark);
            }
        }
         &__violet {
            & .format_grid__bonus {
                background-color: var(--color-violet);
            }
        }
         &__blue {
            & .format_grid__bonus {
                background-color: var(--color-blue);
            }
        }
    }

    &_bottom {
        margin: 40px auto 0;
        display: flex;
        justify-content: center;
    }
    &_dial {
        &__title {
            color: var(--color-black);
        }
        &__digit,
        &__semicolon div {
            background-color: #E8DDF3;
        }
    }
    &_price {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        &__old {
            font-size: 20px;
            line-height: 24px;
            text-decoration: line-through;
        }
        &__new {
            font-size: 20px;
            & span {
                font-size: 42px;
                font-weight: 800;
            }
        }
        &__btn {
            margin-top: 20px;
            padding: 16px 28px;
            font-weight: 600;
            border-radius: 8px;
        }
        &__quantity {
            margin-top: 12px;
            font-size: 12px;
            line-height: 1.2;
            font-weight: 400;
            & span {
                font-weight: 700;
            }
        }
        &__orange {
            color: var(--color-orange-dark);
            & button {
                background-color: var(--color-orange-dark);
            }
        }
        &__violet {
            color: var(--color-violet);
            & button {
                background-color: var(--color-violet);
            }
        }
        &__blue {
            color: var(--color-blue);
            & button {
                background-color: var(--color-blue);
            }
        }
        &__old {
            color: var(--color-black);
        }
    }

    &_column {
        &__first {
            width: 560px;
        }
        &__second {
            width: 185px;
        }
        &__third {
            width: 185px;
        }
        &__fourth {
            width: 185px;
        }
        &__hit {
            width: 270px;
            z-index: 2;
            &.format_grid__plan {
                background-color: var(--color-violet);
                box-shadow: -3px 0px 16px rgba(0, 0, 0, .2), 3px 0px 16px rgba(0, 0, 0, .2);
            }
            & h3 {
                margin: 47px auto 0;
                font-size: 80px;
                font-weight: 900;
                line-height: 64px;
                color: var(--color-white);
            }
            & h5 {
                color: var(--color-white);
            }
            & .format_grid__bonus {
                width: fit-content;
                height: 48px;
                top: -28px;
                left: auto;
                right: 0;
                transform: translate(0, 0);
                color: var(--color-white);
                background-color: var(--color-pink);
                border-radius: 14px 14px 0 0;
                & div {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 20px;
                    background-color: var(--color-violet);
                    border-radius: 0 24px 0 0;
                }
            }
            & .format_grid__best {
                display: block;
                position: absolute;
                top: -3px;
                left: -4px;
                & h4 {
                    position: absolute;
                    top: 34px;
                    left: 0px;
                    transform: rotate(-46deg);
                    color: var(--color-white);
                    font-size: 14px;
                    font-weight: 700;
                }
            }
            &.format_grid__cage {
                background-color: #E8DDF3;
                font-size: 20px;
                font-weight: 700;
                // box-shadow: 3px 6px 9px rgba(0, 0, 0, .2);
                & svg {
                    transform: scale(1.4);
                }
            }
        }
    }
}

@media (max-width: 1459px) {
    .format {
        &_column {
            &__first {
                width: 320px;
            }
        }
    }
}

@media (max-width: 991px) {
    .format {
        &_container {
            cursor: grab;
        }
        &_wrapper {
           padding: 0 20px;
        }
    }
}

@media (max-width: 575px) {
    .format {
        &_container {
            padding: 30px 0 50px;
        }
        &_wrapper {
            padding: 0 10px;
        }
        &_grid {
            &__title {
                font-size: 36px;
            }
            &__description {
                padding: 16px 8px;
            }
        }
        &_column {
            &__first {
                width: 250px;
            }
        }
    }
}


