.hamburger {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
    position: fixed;
    top: 24px;
    left: calc(100vw - 60px);
    right: 20px;
    width: 30px;
    height: 30px;
    mix-blend-mode: difference;
    z-index: 15;
    cursor: pointer;
}

.hamburger > div {
    height: 3px;
    width: 26px;
    background-color: var(--color-white);
    transition: all .4s ease;    
}

.hamburger.active > div:nth-of-type(1) {
    transform: rotate(45deg) translate(13px, 0px);
}

.hamburger.active > div:nth-of-type(2) {
    opacity: 0;
}

.hamburger.active > div:nth-of-type(3) {
    transform: rotate(-45deg) translate(13px, 0px);
}

@media (max-width: 991px) {
    .hamburger {display: flex;}
}

@media (max-width: 399px) {
    .hamburger {left: calc(100vw - 50px);}
}