.header {
    min-width: 100vh;
    position: relative;
    overflow: hidden;
    &_container {
        padding: 114px 100px 40px; 
    }
    &_top {
        display: flex;
        gap: 36px;
    }
    &_info {
        max-width: 503px;
    }
    &_up {
        display: flex;
        gap: 37px;
        align-items: center;
        color: var(--color-white);
        &__item {
            display: flex;
            gap: 12px;
            align-items: center;
            & h5 {
                font-weight: 400;
                user-select: none;
            }
        }
        &__pick {
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: rgba(255, 255, 255, .2);
            border-radius: 50%;
            transition: all .3s ease;
            &:hover svg {
                transform: scale(1.2);
                transition: all .3s ease;
                & path {
                    fill: var(--color-blue);
                }
            }
        }
    }
    &_descr {
        height: calc(100% - 40px);
        display: flex;
        flex-direction: column;
        &__top {
            display: flex;
            gap: 17px;
            & h2 {
                font-size: 241px;
                font-weight: 700;
                color: var(--color-violet);
                user-select: none;
                pointer-events: none;
            } 
            & p {
                padding-top: 28px;
                max-width: 250px;
                font-weight: 400;
                line-height: 1.5;
                color: var(--color-white);
                & span {
                    font-weight: 700;
                }
            }
        }
        & h1 {
            font-size: 70px;
            font-weight: 700;
            color: var(--color-white);
            text-transform: uppercase;
        }
        &__text {
            padding-top: 40px;
            flex-grow: 1;
            font-size: 26px;
            line-height: 1.4;
            color: var(--color-white);
            & span {
                font-weight: 700;
            }
        }
    }
    &_grid {
        width: 701px;
        height: 701px;
        position: relative;
        &__item {
            position: absolute;
        }
        &__first {
            width: 417px;
            height: 415px;
            top: 0;
            left: 0;
            background-image: url("../assets/png/banner_grid_bg.png");
            background-position: center;
            background-size: cover;
            & div {
                width: fit-content;
                height: fit-content;
                position: absolute;
                transition: all .4s ease;
                &:hover {
                    transform: scale(1.05);
                }
                &:first-of-type {
                    top: 33px;
                    right: 24px;
                }
                &:last-of-type {
                    bottom: 35px;
                    left: 32px;
                }
            }
        }
        &__second {           
            width: 188px;
            height: 433px;
            top: 0;
            right: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 39px;
            border-radius: 30px;
            background-color: var(--color-violet);
            & h3 {
                width: min-content;
                text-align: center;
                font-size: 23px;
                line-height: 28px;
                font-weight: 700;
                color: var(--color-white);
            } 
        }
        &__speakers {
            z-index: 1;
            & div {
                width: 99px;
                height: 99px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                overflow: hidden;
                & img {
                    width: 100%;
                    height: 100%;
                }
                &:hover {
                    transform: translateY(0px);
                }
            }
            & div:not(:first-child) {
                margin-top: -32px;
            }
            & div:first-child img {
                width: 103%;
                height: 103%;
            }
        }
        &__third {
            width: 244px;
            height: 244px;
            display: flex;
            align-items: center;
            justify-content: center;
            bottom: 0;
            left: 0;
            background-image: url("../assets/png/banner_grid_ellipse.png");
            background-position: center;
            & img {
                mix-blend-mode: color-dodge;
                transition: all .4s ease;
                &:hover {
                    transform: scale(1.05);
                }
            }
        }
        &__fourth {
            bottom: 0;
            right: 0;
            width: 457px;
            height: 455px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 30px;
            overflow: hidden;
            & img {
                width: 100%;
                height: 100%;
                transition: all .4s ease;
                &:hover {
                    transform: scale(1.05);
                }
            }
        }
    }
    &_bottom {
        margin: 80px auto 0;
    }
    &_title {
        margin: 0 auto;
        max-width: 560px;
        text-align: center;
        font-size: 50px;
        font-weight: 800;
        line-height: 1.2;
        color: var(--color-white);
        & span {
            color: var(--color-violet);
        }
    }
    &_rounds {
        border: 1px solid rgba(255, 255, 255, .1);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        pointer-events: none;
        &__first {
            position: absolute;
            left: 58%;
            top: 27vh;
            width: 948px;
            height: 948px;
        }
        &__second {
            width: 732px;
            height: 732px;
        }
        &__third {
            width: 524px;
            height: 524px;
        }
    }
}