.header {
    min-height: 100vh;
    position: relative;
    overflow: hidden;
    &_container {
        padding: 114px 100px 40px; 
    }
    &_top {
        display: flex;
        gap: 36px;
    }
    &_info {
        max-width: 503px;
    }
    &_up {
        display: flex;
        gap: 37px;
        align-items: center;
        color: var(--color-white);
        &__item {
            display: flex;
            gap: 12px;
            align-items: center;
            & h5 {
                font-weight: 400;
                user-select: none;
            }
        }
        &__pick {
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: rgba(255, 255, 255, .2);
            border-radius: 50%;
            transition: all .3s ease;
            &:hover svg {
                transform: scale(1.2);
                transition: all .3s ease;
                & path {
                    fill: var(--color-blue);
                }
            }
        }
    }
    &_descr {
        height: calc(100% - 40px);
        display: flex;
        flex-direction: column;
        &__top {
            display: flex;
            gap: 17px;
            & h2 {
                font-size: 241px;
                font-weight: 700;
                color: var(--color-violet);
                user-select: none;
                pointer-events: none;
            } 
            & p {
                padding-top: 28px;
                max-width: 250px;
                font-weight: 400;
                line-height: 1.5;
                color: var(--color-white);
                & span {
                    font-weight: 700;
                }
            }
        }
        & h1 {
            font-size: 70px;
            font-weight: 700;
            color: var(--color-white);
            text-transform: uppercase;
        }
        &__text {
            padding-top: 40px;
            flex-grow: 1;
            font-size: 26px;
            line-height: 1.4;
            color: var(--color-white);
            & span {
                font-weight: 700;
            }
        }
    }
    &_grid {
        width: 701px;
        height: 701px;
        position: relative;
        &__item {
            position: absolute;
        }
        &__first {
            width: 417px;
            height: 415px;
            top: 0;
            left: 0;
            background-image: url("../assets/png/banner_grid_bg.png");
            background-position: center;
            background-size: cover;
            & div {
                width: fit-content;
                height: fit-content;
                position: absolute;
                transition: all .4s ease;
                &:hover {
                    transform: scale(1.05);
                }
                &:first-of-type {
                    top: 33px;
                    right: 24px;
                }
                &:last-of-type {
                    bottom: 35px;
                    left: 32px;
                }
            }
        }
        &__second {           
            width: 188px;
            height: 433px;
            top: 0;
            right: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 39px;
            border-radius: 30px;
            background-color: var(--color-violet);
            & h3 {
                width: min-content;
                text-align: center;
                font-size: 23px;
                line-height: 28px;
                font-weight: 700;
                color: var(--color-white);
            } 
        }
        &__speakers {
            z-index: 1;
            & div {
                width: 99px;
                height: 99px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                overflow: hidden;
                transition: all .3s ease;
                & img {
                    width: 100%;
                    height: 100%;
                }
                // &:hover {
                //     transform: translateY(0px);
                // }
            }
            & div:not(:first-child) {
                margin-top: -32px;
            }
            & div:first-child img {
                width: 103%;
                height: 103%;
            }
        }
        &__third {
            width: 244px;
            height: 244px;
            display: flex;
            align-items: center;
            justify-content: center;
            bottom: 0;
            left: 0;
            background-image: url("../assets/png/banner_grid_ellipse.png");
            background-position: center;
            & img {
                mix-blend-mode: color-dodge;
                transition: all .4s ease;
                &:hover {
                    transform: scale(1.05);
                }
            }
        }
        &__fourth {
            bottom: 0;
            right: 0;
            width: 457px;
            height: 455px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 30px;
            overflow: hidden;
            & img {
                width: 100%;
                height: 100%;
                transition: all .4s ease;
                &:hover {
                    transform: scale(1.05);
                }
            }
        }
    }
    &_bottom {
        margin: 80px auto 0;
    }
    &_title {
        margin: 0 auto;
        max-width: 560px;
        text-align: center;
        font-size: 50px;
        font-weight: 800;
        line-height: 1.2;
        color: var(--color-white);
        & span {
            color: var(--color-violet);
        }
    }
    &_rounds {
        border: 1px solid rgba(255, 255, 255, .1);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        pointer-events: none;
        &__first {
            position: absolute;
            left: 58%;
            top: 27vh;
            width: 948px;
            height: 948px;
        }
        &__second {
            width: 732px;
            height: 732px;
        }
        &__third {
            width: 524px;
            height: 524px;
        }
    }
    &_logo {
        display: none;
        position: absolute;
        top: 30px;
        left: 20px;
    }
}

@media (max-width: 1459px) {
    .header_container {width: fit-content; padding: 114px 0px 40px; margin: 0 auto}
    .header_info {max-width: 478px}
    .header_top {gap: 0px; justify-content: center}
}

@media (max-width: 1199px) {
    .header_top {flex-direction: column; align-items: center; gap: 50px;}
    .header_up {justify-content: center;}
    .header_descr__top {justify-content: center;}
    .header_descr h1, .header_descr__text h3 {text-align: center;}
    .header_btn {margin: 40px auto 0;} 
    .header_logo {display: block;}
}

@media (max-width: 767px) {
    .header_grid {
        width: 456px;
        height: 894px;
    }
    .header_grid__first {left: 18px;}
    .header_grid__second {height: 388px; top: 242px;}
    .header_grid__third {
        width: 198px;
        height: 198px;
        background-size: cover;
        & img {
            width: 80%;
        }
    }
}

@media (max-width: 575px) {
    .header_logo {left: 40px;}
    .header_container {padding: 114px 10px 40px;}
    .header_up {
        gap: 12px;
        &__item  {
            gap: 8px;
        }
    }
    .header_descr h1 {font-size: 46px;}
    .header_descr__top h2 {font-size: 178px;}
    .header_grid {
        width: 380px;
        height: 772px;
    }
    .header_title {font-size: 40px;}
    .header_descr__text h3 {font-size: 20px;}
    .header_grid__first {
        width: 380px;
        height: 379px;
        left: 0;
        background-size: cover;
    }
    .header_grid__first div:first-of-type {
        top: 23px;
        right: 13px;
    }
    .header_grid__first div:last-of-type {
        bottom: 25px;
        left: 21px;
    }
    .header_grid__fourth { 
        width: 380px;
        height: 379px;
        background-size: cover;
    }
    .header_grid__third {
        width: 168px;
        height: 168px;
    }
    .header_grid__second {
        width: 168px;
        height: 354px;
        top: 208px;
        gap: 20px;
    }
}

@media (max-width: 399px) {
    .header_up {
        max-width: 100%;
        flex-wrap: wrap;
        justify-content: center;
    }
    .header_top {
        gap: 40px;
    }
    .header_descr__top p {
        font-size: 14px;
    }
    .header_grid {
        width: 300px;
        height: 632px;
    }
    .header_descr h1 {
        font-size: 42px;
    }
    .header_descr__text h3 {
        font-size: 18px;
    }
    .header_title {
        font-size: 36px;
    }
     .header_grid__first {
        width: 300px;
        height: 299px;
        background-size: cover;
    }
    .header_grid__third {
        width: 128px;
        height: 128px;
    }
    .header_grid__fourth { 
        width: 300px;
        height: 299px;
    }
     .header_grid__first div:first-of-type {
        width: 120px;
        height: 120px;
        top: 27px;
        right: 19px;
        & img {
            width: 100%;
        }
    }
    .header_grid__first div:last-of-type {
        width: 120px;
        height: 120px;
        bottom: 15px;
        left: 15px;
        & img {
            width: 100%;
        }
    }
    .header_grid__second {
        width: 138px;
        height: 308px;
        top: 160px;
        gap: 4px;
    }
    .header_bottom {
        margin: 60px auto 0;
    }
}