.logo {
    display: flex;
    flex-direction: column;
    align-items: end;
    &_name {
        display: flex;
    }
    &_bottom {
        margin-top: -3px;
        display: flex;
        align-items: center;
        & img {
            z-index: 1;
            transition: all .3s ease;
            &:hover {
                transform: scale(1.2);
            }
        }
        & h4 {
            margin-left: -4px;
            height: fit-content;
            padding: 1px 3px 3px 3px; 
            background-color: #FF3900;
            color: var(--color-white);
            vertical-align: middle;
            font-size: 12px;
            font-weight: 400;
            border-radius: 7px;
        }
    }
    
    &_letter {
        transition: all .4s ease;
        & svg path {
            transition: all .4s ease;
        }
        &:hover {
            transform: scale(1.2);
            & svg path {
                fill: var(--color-violet);
            }
            & + * {
                transform: scale(1.1);
                & svg path {
                    fill: var(--color-violet-light);
                }
            }
        }
        &:has( + :hover) {
            transform: scale(1.1);
            & svg path {
                fill: var(--color-violet-light);
            }
        }
    }
}