.menu {
    width: 100%;
    position: fixed;
    top: -100%;
    left: 0;
    background-color: rgba(30,30,30,.8);
    z-index: 10;
    transition: all .4s ease;
    &.active {
        top: 0;
    }
    &_container {
        padding: 22px 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &_list {
        display: flex;
        gap: 40px;
       
    }
    &_item {
        & a {
            font-size: 15px;
            color: var(--color-white);
            opacity: .8;
            transition: all .4s ease;
        }
        &.active a {
            color: var(--color-violet);
            opacity: 1;
        }
    }
    &_btn {
        background-color: transparent;
        border: 1px solid var(--color-white);
        transition: all .4s ease;
        &.active {
            background-color: var(--color-white);
            & a {
                color: var(--color-black);
            }
        }
    }
}

@media (max-width: 1439px) {
    .menu_container {
        width: 100%;
        padding: 22px 40px;
    }
}

@media (max-width: 991px) {
    .menu {
        width: 100%;
        height: 100vh;
        top: 0;
        left: -100%;
        background-color: rgba(30,30,30,.9);
        &.active {
            top: 0;
            left: 0;
        }
        &_container {
            height: 100%;
            padding: 100px 100px;
            flex-direction: column;
            align-items: flex-start;
            gap: 70px;
        }
        &_list {
            flex-direction: column;
            gap: 30px;
            flex-grow: 1;
        }
        &_btn a {
            padding: 16px 32px;
        }
    }
}

@media (max-width: 575px) {
    .menu_container {
        padding: 32px 40px;
    }
    .menu_btn {
        align-self: center;
    }
}

@media (max-width: 399px) {
    .menu_container {
        padding: 32px 40px;
    }
    .menu_btn a {
        padding: 16px 20px;
    }
}