.packages {
    position: relative;
    overflow: hidden;
    &_rounds__first {
        width: 524px;
        height: 524px;
        position: absolute;
        top: -370px;
        left: calc(50% - 980px);
        border: 1px solid rgba(255, 255, 255, .1);
        border-radius: 50%;
        pointer-events: none;
        z-index: -1;
    }
    &_container {
        padding: 41px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 48px;
    }
    &_title {
        color: var(--color-white);
        font-weight: 800;
        & span {
            color: var(--color-violet);
        }
    }
    &_block {
        display: flex;
        gap: 30px;
    }
    &_item {
        width: 393px;
        &__pink {
            & .packages_package {
                border: 1px solid var(--color-pink);
                & h2 {
                    background-color: var(--color-pink);
                }
            }
            & .packages_body__advanced li::before {
                background-color: var(--color-pink);
            }
        }
        &__orange {
            & .packages_package {
                border: 1px solid var(--color-orange);
                & h2 {
                    background-color: var(--color-orange);
                    color: var(--color-dark);
                }
            }
            & .packages_body__advanced li::before {
                background-color: var(--color-orange);
            }
        }
        &__violet {
            & .packages_package {
                border: 1px solid var(--color-violet);
                & h2 {
                    background-color: var(--color-violet);
                }
            }
            & .packages_body__advanced li::before {
                background-color: var(--color-violet);
            }
        }
    }
    &_package {
        border-radius: 20px;
        overflow: hidden;
    }
    &_top {
        padding: 21px 0 18px;
        text-align: center;
        font-size: 30px;
        font-weight: 700;
        line-height: 36px;
        color: var(--color-white);
    }
    &_body {
        padding: 24px 24px 40px 24px;
        color: var(--color-white);
        &__top {
            font-size: 20px;
            font-weight: 700;
            line-height: 24px;
        }
        &__list {
            margin-top: 24px;
            display: flex;
            flex-direction: column;
            gap: 20px;
            li {
                margin-left: 24px;
                list-style: disc;
                line-height: 1.5;
                color: #bcbcbc;
            }
        }
        &__advanced {
            & li {
                list-style: none;
                position: relative;
                &::before {
                    content: "";
                    width: 10px;
                    height: 10px;
                    position: absolute;
                    top: 50%;
                    left: -22px;
                    transform: translateY(-50%);
                    border-radius: 2px;
                }
            }
        }
    }
    &_divider {
        margin: 40px auto;
        width: 100%;
        height: 1px;
        background-color: var(--color-white);
        opacity: .3;
    }
    &_text {
        padding: 24px 24px 0;
        display: flex;
        flex-direction: column;
        gap: 20px;
        color: var(--color-white);
        line-height: 1.5;
    }
}


