.payments {
    padding: 47px 0 43px;
    background-color: #121212;
    color: var(--color-white);
    &_container {
        padding: 0 63px;
        min-height: 567px;
        width: 1365px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        background-color: #171717;
        border-radius: 20px;
        overflow: hidden;

    }
    &_back {
        width: fit-content;
        height: fit-content;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        pointer-events: none;
    }
    &_wrapper {
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 1;
    }
    &_left {
        max-width: 372px;
        &__title {
            font-size: 46px;
            color: var(--color-white);
            & span {
                color: var(--color-violet);
            }
        }        
        &__description {
            margin-top: 30px;
            font-size: 20px;
            font-weight: 400;
            line-height: 1.5;
            color: rgba(255, 255, 255, .9);
            & span {
                color: var(--color-violet);
                font-weight: 700;
            }
        }
    }
    &_center {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 34px 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        background: rgba(255, 255, 255, 0.01);
        backdrop-filter: blur(3px);
        -webkit-backdrop-filter: blur(3px);
        &__title {
            text-align: center;
            font-size: 16px;
            font-weight: 700;
            line-height: 1.2;
        }
        &__date {
            text-align: center;
            font-size: 32px;
            font-weight: 700;
            line-height: 13px;
            & span {
                font-size: 142px;
                font-weight: 900;
                line-height: 1;
                color: var(--color-violet);
            }
        }
    }
    &_right {
        max-width: 302px;
        &__title {
            font-size: 22px;
            font-weight: 700;
            line-height: 26px;
        }
        &__methods {
            margin-top: 30px;
            display: flex;
            flex-direction: column;
            gap: 16px;
            & > li {
                margin-left: 24px;
                position: relative;
                font-size: 16px;
                font-weight: 500;
                line-height: 1.4;
                color: rgba(255, 255, 255, .9);
                &:before {
                    content: "";
                    width: 10px;
                    height: 10px;
                    position: absolute;
                    top: 6px;
                    left: -24px;
                    background-color: var(--color-violet);
                    border-radius: 50%;
                }
            }
        }
        &__banks {
            margin-top: 7px;
            & li {
                &:last-of-type {
                    position: relative;
                    width: fit-content;
                    & a:last-of-type {
                        position: absolute;
                        width: 50%;
                        height: 100%;
                        top: 0;
                        right: 0;
                    }    
                }
            }
        }
    }
}