.payments {
    padding: 47px 0 43px;
    background-color: #121212;
    color: var(--color-white);
    &_container {
        padding: 0 63px;
        min-height: 567px;
        width: 1365px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        background-color: #171717;
        border-radius: 20px;
        overflow: hidden;

    }
    &_back {
        width: fit-content;
        height: fit-content;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        pointer-events: none;
    }
    &_wrapper {
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 1;
    }
    &_left {
        max-width: 372px;
        &__title {
            font-size: 46px;
            color: var(--color-white);
            & span {
                color: var(--color-violet);
            }
        }        
        &__description {
            margin-top: 30px;
            font-size: 20px;
            font-weight: 400;
            line-height: 1.5;
            color: rgba(255, 255, 255, .9);
            & span {
                color: var(--color-violet);
                font-weight: 700;
            }
        }
    }
    &_center {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 34px 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        background: rgba(255, 255, 255, 0.01);
        backdrop-filter: blur(3px);
        -webkit-backdrop-filter: blur(3px);
        &__title {
            text-align: center;
            font-size: 16px;
            font-weight: 700;
            line-height: 1.2;
        }
        &__date {
            text-align: center;
            font-size: 32px;
            font-weight: 700;
            line-height: 13px;
            & span {
                font-size: 142px;
                font-weight: 900;
                line-height: 1;
                color: var(--color-violet);
            }
        }
    }
    &_right {
        max-width: 302px;
        &__title {
            font-size: 22px;
            font-weight: 700;
            line-height: 26px;
        }
        &__methods {
            margin-top: 30px;
            display: flex;
            flex-direction: column;
            gap: 16px;
            & > li {
                margin-left: 24px;
                position: relative;
                font-size: 16px;
                font-weight: 500;
                line-height: 1.4;
                color: rgba(255, 255, 255, .9);
                &:before {
                    content: "";
                    width: 10px;
                    height: 10px;
                    position: absolute;
                    top: 6px;
                    left: -24px;
                    background-color: var(--color-violet);
                    border-radius: 50%;
                }
            }
        }
        &__banks {
            margin-top: 7px;
            & li {
                &:last-of-type {
                    position: relative;
                    width: fit-content;
                    & a:last-of-type {
                        position: absolute;
                        width: 50%;
                        height: 100%;
                        top: 0;
                        right: 0;
                    }    
                }
            }
        }
    }
}

@media (max-width: 1459px) {
    .payments_container {width: 100%;}
}

@media (max-width: 1199px) {
    .payments_container {padding: 0 40px;}
    .payments_left {max-width: 296px;}
    .payments_left__title {
        font-size: 36px;
        line-height: 46px;
    }
    .payments_left__description {
        margin-top: 20px;
        font-size: 18px;
        line-height: 1.3;
    }
    .payments_right {max-width: 280px;}
}

@media (max-width: 991px) {
    .payments_wrapper {
        flex-direction: column; 
        gap: 318px;
        align-items: flex-start;
    }
    .payments_left {
        align-self: flex-end; 
        text-align: end;
        max-width: 314px;
    }
    .payments_container {min-height: 800px;}
    .payments_right__methods {
        margin-top: 12px;
        gap: 10px;
    }
    .payments_right__methods>li {line-height: 1.2;}
    .payments_left__description {margin-top: 20px; color: var(--color-white);
    }
}

@media (max-width: 767px) {
    .payments_back {
        width: 560px;
        height: 430px;
        & img {
            width: 100%;
        }
    }
}

@media (max-width: 575px) {
    .payments_left__title {
        font-size: 32px;
        line-height: 38px;
    }
    .payments_left__description {
        margin-top: 14px;
        font-size: 16px;
    }
    .payments_wrapper {gap: 354px;}
    .payments_right {
        max-width: 100%;
    }
}

@media (max-width: 399px) {
    .payments_container {
        padding: 0px 10px;
    }
}