:root {
    --index: calc((1vw + 1vh) / 2);
    --color-violet: #8B57C2;
    --color-violet-light: #E7D0FF;
    --color-pink: #FF7EF2;
    --color-orange: #FECB00;
    --color-orange-dark: #FEA800;
    --color-blue: #5B9AFF; 
    --color-black: #000000;
    --color-white: #FFFFFF;
    --color-bg: #1E1E1E;
    --color-bg-grid: #F4F5F7;
}

@media (max-width: 1439px) {
  
}

@media (max-width: 1199px) {
    
}

@media (max-width: 991px) {
    
}

@media (max-width: 767px) {
    
}

@media (max-width: 575px) {
    
}

@media (max-width: 399px) {
    
}