.timer {
    padding-top: 122px;
    background-color: var(--color-white);
    &_container {
        margin: 0 auto;
        padding: 12px 12px 12px 23px;
        width: 1202px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: var(--color-violet);
        border-radius: 20px;
        overflow: hidden;
    }
    &_dial {
        z-index: 1;
    }
    &_gift {
        padding-right: 24px;
        width: 489px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #E8DDF3;
        border-radius: 20px;
        z-index: 1;
        &__img {
            width: 121px;
            height: 121px;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
        }
        &__description {
            max-width: 345px;
            font-size: 28px;
            font-weight: 400;
            & span {
                font-weight: 700;
            }
        }
    }
    &_questions {
        width: 320px;
        height: 320px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        &__item {
            position: absolute;
        }
        &__first {
            top: 118px;
            left: 32px;
        }
        &__second {
            top: 72px;
            left: -144px;
        }
        &__third {
            top: -10px;
            left: 30px;
        }
    }
}

@media (max-width: 1459px) {
    .timer_container {
        width: 96%;
        max-width: 1202px;
    }
}

@media (max-width: 1199px) {
    .timer {padding-top: 60px;}
    .timer_container {
        flex-direction: column;
        gap: 80px;
        align-items: flex-start;
    }
    .timer_gift {align-self: flex-end};
    .timer_questions {left: 62%; top: 48%;}
}

@media (max-width: 575px) {
    .timer_container {
        padding: 12px;
    }
    .timer_gift {
        width: 100%;
    }
    .timer_gift__description {
        max-width: 200px;
        font-size: 22px;
        font-weight: 400;
    }
}

@media (max-width: 399px) {
    .timer_questions {left: 77%;}
    .timer_gift__description {
        max-width: 128px;
        font-size: 18px;
    }
}