@import "./normalize";
@import "./font";
@import "./root";
@import "./basic";
@import "./logo";
@import "./header";
@import "./hamburger";
@import "./menu";
@import "./course";
@import "./packages";
@import "./clock";
@import "./timer";
@import "./format";
@import "./payments";
@import "./footer";;

