* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *::after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: "Quicksand";
  src: url("../fonts/Quicksand-Regular.eot");
  src: local("Quicksand Regular"), local("Quicksand-Regular"), url("../fonts/Quicksand-Regular.eot") format("embedded-opentype"), url("../fonts/Quicksand-Regular.woff2") format("woff2"), url("../fonts/Quicksand-Regular.woff") format("woff"), url("../fonts/Quicksand-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Quicksand";
  src: url("../fonts/Quicksand-Bold.eot");
  src: local("Quicksand Bold"), local("Quicksand-Bold"), url("../fonts/Quicksand-Bold.eot") format("embedded-opentype"), url("../fonts/Quicksand-Bold.woff2") format("woff2"), url("../fonts/Quicksand-Bold.woff") format("woff"), url("../fonts/Quicksand-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
* {
  font-family: "Quicksand", sans-serif;
}

body {
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.slider_wrapper {
  height: 100vh;
  width: 100vw;
}

.slide {
  padding: 16.75vh 12.75vw;
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: #fff;
  overflow: hidden;
}

.wrapper {
  width: 100%;
  height: 100%;
}

.items_double {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template: 1fr/1fr 1fr;
}

.item {
  width: 100%;
  height: 100%;
}

.item_triple {
  display: grid;
  grid-template: 32px 1fr 1fr/1fr;
}

.title {
  font-size: 60px;
  font-weight: 700;
  line-height: 1.25;
  color: #1C1F25;
}

.title_quarter {
  margin-top: 36px;
  width: 25.3vw;
}

.subtitle {
  font-size: 25px;
  color: #6A6E77;
}

.subtitle_big h3 {
  color: #1C1F25;
  font-size: 30px;
  font-weight: 700;
}

.description {
  font-size: 25px;
  line-height: 45px;
}

.buttons, .counter_slide__wrapper {
  position: fixed;
  bottom: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.buttons {
  right: 6.3vw;
  height: 80px;
  width: 30px;
  transform: translateX(50%) translateY(50%);
}

.counter_slide__wrapper {
  left: 6.3vw;
  color: #cccdd0;
  font-size: 60px;
  font-weight: 700;
  transform: translateX(-50%) translateY(50%);
}

.button {
  height: 43px;
  width: 30px;
  background-color: rgba(0, 0, 0, 0);
}

.key {
  width: 12px;
  height: 40px;
  margin: 0 auto;
  mix-blend-mode: difference;
}

.key_down {
  transform: rotate(180deg);
}

.clear {
  opacity: 0.4;
}

.glassy .title, .glassy .subtitle {
  opacity: 1;
  transition: opacity 4s;
}

.title_move, .title_move_vertical {
  transform: translateY(0px);
  transition: transform 1.4s;
}

.nextStyle .title_move {
  transform: translateY(120px);
}

.prevStyle .title_move {
  transform: translateY(-120px);
}

.nextStyle .title_move_vertical {
  transform: translateX(-220px);
}

.prevStyle .title_move_vertical {
  transform: translateX(220px);
}

@media (max-width: 1600px) {
  .title {
    font-size: 45px;
  }
  .subtitle {
    font-size: 20px;
  }
  .title_quarter {
    margin-top: 16px;
    width: 350px;
  }
  .description {
    font-size: 20px;
    line-height: 34px;
  }
}
@media (max-width: 1199px) {
  .description {
    line-height: 30px;
    font-size: 18px;
  }
  .subtitle_big h3 {
    font-size: 24px;
  }
}
@media (max-width: 991px) {
  .title {
    margin-top: 6px;
    font-size: 34px;
    line-height: 1.25;
  }
  .subtitle {
    font-size: 15px;
  }
  .subtitle_big h3 {
    font-size: 20px;
  }
  .description {
    font-size: 14px;
    line-height: 24px;
  }
  .title_quarter {
    width: 300px;
  }
  .item_triple {
    grid-template: 17px 1fr 1fr/1fr;
  }
  .counter_slide__wrapper {
    font-size: 50px;
  }
  .buttons {
    height: 70px;
  }
  .button {
    height: 33px;
  }
  .key {
    width: 12px;
    height: 25px;
  }
  .key_up {
    margin-top: 8px;
  }
  .key_down {
    margin-bottom: 8px;
  }
}
@media (max-width: 767px) {
  .title {
    font-size: 32px;
  }
  .subtitle {
    font-size: 14px;
  }
  .title_quarter {
    width: 282px;
  }
  .counter_slide__wrapper {
    font-size: 40px;
  }
  .buttons {
    height: 56px;
  }
  .button {
    height: 28px;
  }
  .key {
    width: 13px;
    height: 27px;
  }
  .key_up {
    margin-top: 0px;
  }
  .key_down {
    margin-bottom: 0px;
  }
}
@media (max-width: 575px) {
  .slide {
    padding: 8.5vh 3.75vw;
  }
  .title_quarter {
    width: 265px;
  }
  .title {
    font-size: 34px;
  }
  .subtitle {
    font-size: 14px;
  }
  .counter_slide__wrapper {
    display: block;
    position: fixed;
    left: 50%;
    bottom: 22px;
    height: 32px;
    font-size: 32px;
    transform: translateX(-50%) translateY(0%);
  }
  .buttons {
    position: fixed;
    bottom: 18px;
    flex-direction: row;
    right: 3.75vw;
    height: 40px;
    width: 92.5vw;
    transform: translateX(0) translateY(0);
  }
  .button {
    height: 100%;
    width: 40px;
    position: relative;
  }
  .button_prev {
    padding-right: 20px;
  }
  .button_next {
    padding-left: 20px;
  }
  .key {
    height: 27px;
    width: 17px;
  }
  .key_up {
    margin-top: 0px;
  }
  .key_down {
    margin-bottom: 0px;
  }
}
@media (max-width: 359px) {
  .title_quarter {
    width: 230px;
  }
  .title {
    font-size: 28px;
  }
  .title_quarter {
    width: 230px;
  }
  .subtitle {
    font-size: 12px;
  }
  .counter_slide__wrapper {
    bottom: 18px;
  }
  .buttons {
    bottom: 14px;
  }
}
.wrapper_01 {
  position: relative;
}

.items_01 {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: grid;
  grid-template: 1fr/1fr 1fr;
  background-color: rgba(0, 0, 0, 0.5);
}

.item_01_left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
}

.title_01 {
  color: #FFFFFF;
  opacity: 0;
}

.subtitle_01 {
  color: #E3E6EC;
  opacity: 0;
  width: 25.3vw;
}

.slide_01_bg {
  width: 100%;
  height: 100%;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  animation: glassy 3s;
}

@media (max-width: 1600px) {
  .subtitle_01 {
    width: 350px;
  }
}
@media (max-width: 991px) {
  .title_01 {
    margin-left: 40px;
  }
  .subtitle_01 {
    width: 300px;
  }
}
@media (max-width: 767px) {
  .title_01 {
    margin-top: 12px;
    margin-left: 40px;
  }
  .subtitle_01 {
    width: 282px;
  }
}
@media (max-width: 575px) {
  .title_01 {
    margin-top: 12px;
    margin-left: 20px;
  }
  .subtitle_01 {
    width: 265px;
  }
}
@media (max-width: 359px) {
  .subtitle_01 {
    width: 230px;
  }
}
.wrapper_02 {
  position: relative;
  height: 100%;
}

.slide_02_img {
  position: absolute;
  right: 0;
  bottom: 0;
  max-height: 83.25vh;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
}

.title_02 {
  text-shadow: 1px 0px black;
}

.description_02 {
  max-width: 530px;
}

.slide_02_img {
  height: 83.25vh;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
}

.item_02_left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item_02_right {
  position: relative;
}

@media (max-width: 1600px) {
  .description_02 {
    padding-right: 20px;
  }
  .slide_02_img {
    width: 100%;
  }
}
@media (max-width: 1199px) {
  .title_02 {
    max-width: 352px;
  }
  .slide_02_img {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .items_02 {
    display: grid;
    grid-template: 1fr 1fr/1fr;
    row-gap: 20px;
  }
  .item_02_left {
    grid-row-start: 2;
  }
  .slide_02_img {
    height: 50vh;
    width: -moz-fit-content;
    width: fit-content;
  }
}
@media (max-width: 575px) {
  .subtitle_02 {
    font-size: 14px;
  }
  .title_02 {
    margin-top: 4px;
    width: 256px;
    font-size: 32px;
  }
  .description_02 {
    font-size: 14px;
    line-height: 24px;
    padding-right: 0;
  }
}
@media (max-width: 359px) {
  .subtitle_02 {
    font-size: 12px;
  }
  .title_02 {
    font-size: 28px;
  }
  .description_02 {
    font-size: 12px;
    line-height: 20px;
  }
}
.slide_03_bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

.scale {
  width: 100%;
  align-self: flex-end;
}
.scale_item {
  display: grid;
  grid-template: 1fr 1fr/1fr 1fr;
  row-gap: 17px;
}
.scale_projects {
  margin-top: 76px;
}
.scale_counter {
  justify-self: flex-end;
  font-weight: bold;
}
.scale_line {
  grid-column: span 2;
  position: relative;
}
.scale_empty {
  position: absolute;
  top: 0;
  left: 0;
  height: 10px;
  width: 100%;
  background: rgba(28, 31, 37, 0.1);
}
.scale_fill {
  background-color: #1C1F25;
  height: 10px;
  width: 0%;
}

@media (max-width: 1600px) {
  .scale_projects {
    margin-top: 40px;
  }
}
@media (max-width: 991px) {
  .scale_projects {
    margin-top: 15px;
  }
}
@media (max-width: 767px) {
  .items_03 {
    grid-template: 1fr 1fr/1fr;
  }
  .title_03, .subtitle_03 {
    color: white;
  }
  .scale_name, .scale_counter {
    color: white;
    z-index: 2;
    opacity: 0.8;
  }
  .scale_empty {
    background: rgba(255, 255, 255, 0.2);
  }
  .scale_fill {
    background: rgba(255, 255, 255, 0.7);
  }
}
@media (max-width: 575px) {
  .slide_03 {
    background: url("../img/03-woman.png") center no-repeat;
    background-size: cover;
  }
  .slide_03 img {
    display: none;
  }
  .scale_name, .scale_counter {
    font-size: 16px;
    color: white;
    z-index: 2;
    opacity: 0.8;
  }
  .scale_item {
    row-gap: 12px;
  }
  .scale_projects {
    margin-top: 14px;
  }
  .scale_empty, .scale_fill {
    height: 8px;
  }
}
@media (max-width: 359px) {
  .scale_item {
    row-gap: 10px;
  }
  .scale_projects {
    margin-top: 12px;
  }
  .scale_empty, .scale_fill {
    height: 6px;
  }
  .scale_name, .scale_counter {
    font-size: 14px;
  }
}
.items_04 {
  height: 100%;
  display: grid;
  grid-template: 1fr 1fr/1fr;
}

.title_04 {
  max-width: 885px;
  margin-top: 36px;
}

.item_04_bottom {
  display: grid;
  grid-template: 1fr/1fr 1fr 1fr;
  -moz-column-gap: 51px;
       column-gap: 51px;
}

.box_04 {
  display: grid;
  grid-template: 74px 38px 1fr/1fr;
  align-self: flex-end;
}

.box_04_description {
  margin-top: 32px;
  align-self: flex-end;
}

@media (max-width: 1600px) {
  .box_04 {
    grid-template: 64px 32px 1fr/1fr;
  }
  .box_04_description {
    margin-top: 22px;
  }
}
@media (max-width: 1199px) {
  .item_04_bottom {
    -moz-column-gap: 36px;
         column-gap: 36px;
  }
  .box_04_description {
    margin-top: 12px;
  }
}
@media (max-width: 991px) {
  .title_04 {
    margin-top: 5px;
  }
  .box_04 {
    grid-template: 38px 24px 1fr/1fr;
  }
  .box_04_icon img {
    height: 38px;
  }
  .item_04_bottom {
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
  .box_04_description {
    margin-top: 0px;
  }
}
@media (max-width: 767px) {
  .title_04 {
    width: 290px;
    margin-top: 16px;
  }
  .item_04_bottom {
    grid-template: 1fr 1fr 1fr/1fr;
    row-gap: 20px;
  }
}
@media (max-width: 575px) {
  .box_04 {
    grid-template: 34px 18px 1fr/1fr;
  }
  .box_04_icon img {
    height: 32px;
  }
  .item_04_bottom {
    row-gap: 5px;
  }
  .box_04_description {
    font-size: 14px;
    line-height: 20px;
  }
}
@media (max-width: 359px) {
  .box_04_description {
    font-size: 12px;
    line-height: 20px;
  }
  .slide_04 .subtitle_big h3 {
    font-size: 16px;
  }
}
.wrapper_05 {
  position: relative;
}

.slide_05_img {
  position: absolute;
  right: 12.75vw;
  height: 50vh;
}
.slide_05_img_top {
  bottom: 50%;
}
.slide_05_img_bottom {
  top: 50%;
}

.description_05 {
  max-width: 530px;
  align-self: flex-end;
}

@media (max-width: 1600px) {
  .slide_05_img {
    right: 0;
  }
}
@media (max-width: 991px) {
  .slide_05_img {
    right: 0vw;
  }
  .description_05 {
    line-height: 28px;
  }
}
@media (max-width: 767px) {
  .items_05 {
    grid-template: 1fr 1fr/1fr;
    row-gap: 20px;
  }
  .item_05_left {
    grid-row-start: 2;
  }
  .slide_05_img_top {
    bottom: 53vh;
    right: 50%;
    z-index: 2;
  }
  .slide_05_img_bottom {
    top: -3%;
    left: 42%;
  }
}
@media (max-width: 575px) {
  .items_05 {
    row-gap: 0px;
  }
  .title_05 {
    font-size: 34px;
    margin-top: 0px;
    max-width: 265px;
  }
  .subtitle_05 {
    font-size: 14px;
  }
  .description_05 {
    font-size: 14px;
    line-height: 24px;
  }
}
@media (max-width: 359px) {
  .title_05 {
    font-size: 25px;
    max-width: 200px;
  }
  .subtitle_05 {
    font-size: 12px;
  }
  .description_05 {
    font-size: 12px;
    line-height: 22px;
  }
}
.items_06 {
  height: 100%;
  display: grid;
  grid-template: 1fr/1fr 1fr;
}

.item_06_left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.item_06_right {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.box_06 {
  display: grid;
  grid-template: 62px 1fr/110px 1fr;
}
.box_06_icon {
  grid-row: span 2;
  padding-top: 30px;
}

@media (max-width: 1600px) {
  .box_06 {
    grid-template: 42px 1fr/90px 1fr;
  }
}
@media (max-width: 1199px) {
  .box_06 {
    grid-template: 30px 1fr/70px 1fr;
  }
  .box_06_icon img {
    width: 50px;
  }
}
@media (max-width: 991px) {
  .box_06 {
    grid-template: 22px 1fr/58px 1fr;
  }
  .box_06_icon img {
    width: 40px;
  }
  .item_06_right .description {
    font-size: 12px;
    line-height: 18px;
    margin-top: 6px;
  }
}
@media (max-width: 767px) {
  .items_06 {
    grid-template: 1fr 1fr/1fr;
  }
  .item_06_left {
    justify-content: start;
    margin-left: 83px;
  }
  .box_06 {
    margin-left: 35px;
  }
  .box_06_icon {
    padding-top: 0px;
  }
}
@media (max-width: 575px) {
  .title_06 {
    margin-top: 6px;
    font-size: 34px;
  }
  .subtitle_06 {
    font-size: 14px;
  }
  .box_06 {
    margin-left: 0px;
    grid-template: 24px 1fr/44px 1fr;
  }
  .box_06_icon img {
    width: 32px;
  }
  .box_06_icon img {
    width: 32px;
  }
  .item_06_left {
    margin-left: 38px;
  }
  .item_06_right .description {
    font-size: 14px;
    line-height: 20px;
  }
}
@media (max-width: 359px) {
  .title_06 {
    font-size: 28px;
  }
  .subtitle_06 {
    font-size: 12px;
  }
  .box_06 {
    grid-template: 20px 1fr/44px 1fr;
  }
  .subtitle_big h3 {
    font-size: 16px;
  }
  .item_06_right .description {
    font-size: 11px;
    line-height: 15px;
  }
}
.slide_07_bg {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100vh;
}

.items_07 {
  height: 100%;
  display: grid;
  grid-template: 1fr/1fr 1fr;
}

.item_07_left {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.box_07 {
  display: grid;
  grid-template: 62px 1fr/110px 1fr;
}
.box_07_icon {
  grid-row: span 2;
  padding-top: 30px;
}

@media (max-width: 1600px) {
  .box_07 {
    grid-template: 36px 1fr/88px 1fr;
  }
}
@media (max-width: 1199px) {
  .box_07 {
    grid-template: 30px 1fr/68px 1fr;
  }
  .box_07_icon {
    padding-top: 0px;
  }
  .box_07_icon img {
    width: 50px;
  }
}
@media (max-width: 991px) {
  .box_07 {
    grid-template: 25px 1fr/60px 1fr;
  }
  .box_07_icon img {
    width: 45px;
  }
  .box_07 .description {
    font-size: 13px;
    line-height: 20px;
  }
}
@media (max-width: 767px) {
  .items_07 {
    grid-template: 1fr 1fr/1fr;
    row-gap: 20px;
  }
  .item_07_left {
    grid-row-start: 2;
    margin-left: 10px;
  }
  .slide_07_bg {
    bottom: 50vh;
    height: 55vh;
  }
}
@media (max-width: 575px) {
  .item_07_left {
    padding-bottom: 8px;
  }
  .box_07 {
    grid-template: 22px 1fr/44px 1fr;
  }
  .box_07_icon img {
    width: 30px;
  }
  .subtitle_big h3 {
    font-size: 18px;
  }
  .box_07 .description {
    font-size: 14px;
    line-height: 20px;
  }
}
@media (max-width: 359px) {
  .box_07 {
    grid-template: 18px 1fr/44px 1fr;
  }
  .subtitle_big h3 {
    font-size: 14px;
  }
  .box_07 .description {
    font-size: 11px;
    line-height: 15px;
  }
}
.slide_08_bg {
  position: absolute;
  top: 0;
  left: 12.75vw;
  height: 100vh;
}

.item_08_right {
  height: 100%;
  display: grid;
  grid-template: 32px 261px 1fr/467px;
  justify-content: flex-end;
}

.counter_work {
  max-width: 467px;
  display: grid;
  grid-template: 1fr/1fr 1fr;
}
.counter_work__item {
  align-self: flex-end;
}

@media (max-width: 1600px) {
  .slide_08_bg {
    left: 0;
  }
}
@media (max-width: 1199px) {
  .item_08_right {
    grid-template: 20px 1fr 1fr/100%;
  }
}
@media (max-width: 991px) {
  .title_08 {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .slide_08_bg {
    display: none;
  }
  .slide_08 {
    background: url("../img/08-sleepwoman.png") center center no-repeat;
    background-size: cover;
  }
  .items_08 {
    grid-template: 1fr 1fr/1fr;
  }
  .item_08_right {
    grid-template: 11px 1fr 1fr/100%;
    margin: 10px 0 0 10px;
  }
  .subtitle_08, .title_08, .counter_work__index, .counter_work__item .description {
    color: white;
    opacity: 0.8;
  }
}
@media (max-width: 575px) {
  .item_08_right {
    margin: 0;
  }
  .title_08 {
    width: 80%;
  }
  .counter_work__item .description {
    font-size: 14px;
  }
}
@media (max-width: 359px) {
  .counter_work__item .description {
    font-size: 13px;
  }
}
.wrapper_09 {
  height: 100%;
  display: grid;
  grid-template: 1fr 1fr/1fr 1fr 1fr;
}

.slide_09_box {
  position: relative;
}
.slide_09_box__design_top {
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: end;
}
.slide_09_box__design_bottom {
  align-self: flex-end;
}
.slide_09_box .description {
  margin-top: 32px;
  max-width: 422px;
}

.slide_09_bg {
  position: absolute;
  left: 0;
  height: 50vh;
  width: 100%;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
}
.slide_09_bg_top {
  bottom: 0;
}
.slide_09_bg_bottom {
  top: 0;
}

.slide_09__title {
  transform: rotate(270deg) translateY(30%);
}

.slide_09_box_turned {
  grid-row: 1/3;
  grid-column: 3/4;
  align-self: center;
}

.title_09, .subtitle_09 {
  text-align: center;
}

@media (max-width: 1200px) {
  .title_09 {
    font-size: 38px;
  }
  .slide_09_box .description {
    margin-top: 20px;
  }
}
@media (max-width: 991px) {
  .title_09 {
    font-size: 29px;
  }
}
@media (max-width: 767px) {
  .wrapper_09 {
    grid-template: 1fr 9vh 1fr/1fr 1fr;
  }
  .slide_09_box_turned {
    grid-row: 2/3;
    grid-column: 1/3;
  }
  .slide_09__title {
    transform: rotate(0deg) translateY(0%);
  }
}
@media (max-width: 575px) {
  .subtitle_09 {
    font-size: 16px;
  }
  .title_09 {
    font-size: 32px;
    line-height: 1.1;
  }
  .slide_09_box .subtitle_big h3 {
    font-size: 24px;
  }
  .slide_09_box .description {
    margin-top: 10px;
    font-size: 14px;
    line-height: 22px;
  }
}
@media (max-width: 359px) {
  .title_09 {
    font-size: 24px;
    line-height: 1.1;
  }
  .slide_09_box .description {
    margin-top: 5px;
    font-size: 11px;
    line-height: 18px;
  }
}
.wrapper_10 {
  display: grid;
  grid-template: 2fr 1fr/1fr 1fr 1fr;
}

.slide_10_box__img {
  position: relative;
}
.slide_10_box__img img {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: calc(100% + 16.75vh);
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
}
.slide_10_box__text {
  padding-right: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.slide_10_box__text .description {
  margin-top: 32px;
}

@media (max-width: 1600px) {
  .slide_10_box__text {
    padding-right: 32px;
  }
  .slide_10_box__text .description {
    margin-top: 16px;
  }
}
@media (max-width: 1299px) {
  .slide_10_box__text .description {
    margin-top: 10px;
  }
}
@media (max-width: 991px) {
  .slide_10_box__text {
    padding-right: 16px;
  }
  .slide_10_box__text .subtitle_big {
    margin-top: 5px;
  }
  .slide_10_box__text .description {
    margin-top: 5px;
    line-height: 22px;
  }
}
@media (max-width: 767px) {
  .wrapper_10 {
    grid-template: 1fr 1fr 1fr/1.5fr 1fr;
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
  .wrapper_10 :nth-child(2) {
    grid-row: 2/3;
    grid-column: 1/2;
  }
  .wrapper_10 :nth-child(2) img {
    height: 100%;
  }
  .wrapper_10 :nth-child(3) {
    grid-row: 3/4;
    grid-column: 1/2;
  }
  .wrapper_10 :nth-child(3) img {
    top: 0;
  }
}
@media (max-width: 575px) {
  .wrapper_10 {
    -moz-column-gap: 0px;
         column-gap: 0px;
  }
  .wrapper_10 :nth-child(1) img {
    left: -3.75vw;
  }
  .wrapper_10 :nth-child(2) img {
    left: -3.75vw;
  }
  .wrapper_10 :nth-child(3) img {
    left: -3.75vw;
  }
  .slide_10_box__text {
    padding-right: 0;
  }
  .slide_10_box__text .subtitle_big h3 {
    font-size: 24px;
  }
  .slide_10_box__text .description {
    font-size: 14px;
    line-height: 22px;
  }
}
@media (max-width: 359px) {
  .slide_10_box__text {
    padding-right: 0;
  }
  .slide_10_box__text .subtitle_big h3 {
    font-size: 20px;
  }
  .slide_10_box__text .description {
    font-size: 11px;
    line-height: 18px;
  }
}
.slide_11_bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 40vw;
  background: rgba(196, 196, 196, 0.3);
}

.wrapper_11 {
  display: grid;
  grid-template: 1fr/1fr 1fr;
}

.item_11_left {
  z-index: 10;
}
.item_11_left img {
  height: 100%;
  width: 100%;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
}

.item_11_right {
  padding-left: 240px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.box_11 .description {
  margin-top: 30px;
}

@media (max-width: 1600px) {
  .item_11_right {
    padding-left: 140px;
  }
}
@media (max-width: 1199px) {
  .item_11_right {
    padding-left: 98px;
  }
  .box_11 .description {
    margin-top: 4px;
  }
}
@media (max-width: 991px) {
  .item_11_right {
    padding-left: 65px;
  }
}
@media (max-width: 767px) {
  .wrapper_11 {
    grid-template: 1fr 1fr/1fr;
  }
  ._slide_11 {
    position: relative;
  }
  .item_11_left img {
    position: absolute;
    bottom: 52vh;
    height: 48vh;
    left: 0;
  }
  .item_11_right {
    padding: 10px 0 0 0;
  }
  .box_11 .description {
    font-size: 16px;
    line-height: 30px;
  }
}
@media (max-width: 575px) {
  .box_11 .subtitle_big h3 {
    font-size: 26px;
  }
  .box_11 .description {
    font-size: 14px;
    line-height: 22px;
    margin-top: 5px;
  }
}
@media (max-width: 359px) {
  .box_11 .subtitle_big h3 {
    font-size: 20px;
  }
  .box_11 .description {
    font-size: 11px;
    line-height: 18px;
    margin-top: 5px;
  }
}
.wrapper_12 {
  position: relative;
}

.slide_12_shadow {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(28, 31, 37, 0.5);
}
.slide_12_bg {
  height: 100%;
  width: 100%;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
}
.slide_12__counter {
  color: #E3E6EC;
  text-align: center;
}
.slide_12_description {
  color: #E3E6EC;
  text-align: center;
}
.slide_12_item {
  align-self: center;
}

.items_12 {
  padding: 0px 150px;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template: 1fr/1fr 1fr 1fr;
}

@media (max-width: 1199px) {
  .items_12 {
    padding: 0 80px;
  }
}
@media (max-width: 991px) {
  .items_12 {
    padding: 0 50px;
  }
}
@media (max-width: 767px) {
  .items_12 {
    grid-template: 1fr 1fr 1fr/1fr;
    padding: 132px 50px;
  }
}
@media (max-width: 575px) {
  .items_12 {
    padding: 16vh 16vw;
  }
  .slide_12_description {
    font-size: 16px;
  }
}
@media (max-width: 359px) {
  .items_12 {
    padding: 70px 50px;
  }
  .slide_12_description {
    font-size: 13px;
  }
}/*# sourceMappingURL=style.css.map */